<div class="row">
  <div class="col-12">
    <h1 class="display-4 top-content">Leaderboard</h1>
  </div>
  <div class="col">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leader of leaders | async; let i = index" class="color">
          <th scope="row">{{i + 1}}</th>
          <td>{{leader.first}}</td>
          <td>{{leader.last}}</td>
          <td>{{leader.ctasks}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>