.login-col{
   margin-top: 35%;
   background-color:#EDEEEF;
   padding: 25px;
   padding-bottom: 35px;
}

#top-butt{
    margin-top: 10px;
}

.title{
   margin-bottom: 20px;
}

.bottom-btn{
   margin-top: 10px;
}

.fau-blue{
    background-color: #002D62;
}

.fau-red{
    background-color: #C10435;
}