<div class="row">
  <div class="col rounded login-col">
    <h2 class="title">Sign In</h2>
    <form class="form" [formGroup]="loginForm">

      <div class='validation-error'>{{message}}</div>

      <input class="form-control" placeholder="Email Address" type="text" formControlName="email" [(ngModel)]="user.email">

      <input class="form-control bottom-btn" placeholder="Password" type="password" formControlName="password"
        [(ngModel)]="user.password">

      <button type="button" id="top-butt" class="btn btn-dark btn-lg btn-block fau-blue" (click)="login(user)">Login</button>
      <button type="button" class="btn btn-danger btn-lg btn-block fau-red" (click)="register()">Register</button>

    </form>
  </div>
</div>