.pass-text{
    margin-top: 15px;
    text-align: center;
    font-size: 14.4px;
}

.reg-col{
   margin-top: 35%;
   background-color:#EDEEEF;
   padding: 25px;
   padding-bottom: 10px;
}

#top-butt{
    margin-top: 10px;
}

.bottom-btn{
    margin-top: 10px;
}

.title{
   margin-bottom: 20px;
}

.fau-blue{
    background-color: #002D62;
}

.fau-red{
    background-color: #C10435;
}