<div class="row">
  <div class="col rounded reg-col">
    <h2 class="title">Create Account</h2>
    <form class="form" [formGroup]="registerForm">

      <div class='validation-error'>{{message}}</div>

      <input class="form-control" placeholder="First Name" type="text" formControlName="first" [(ngModel)]="user.first">

      <input class="form-control bottom-btn" placeholder="Last Name" type="text" formControlName="last" [(ngModel)]="user.last">

      <input class="form-control bottom-btn" placeholder="Phone #" type="text" formControlName="phone" [(ngModel)]="user.phone">

      <input class="form-control bottom-btn" placeholder="Email Address" type="text" formControlName="email"
        [(ngModel)]="user.email">

      <input class="form-control bottom-btn" placeholder="Password" type="password" formControlName="password"
        [(ngModel)]="user.password">

      <button type="button" class="btn btn-danger btn-lg btn-block fau-red" id="top-butt" (click)="register(user)">Register</button>
      <button type="button" class="btn btn-primary btn-lg btn-block fau-blue" (click)="goBack()">Go Back</button>

      <div>
        <p class="pass-text">Password must be at least eight characters including a
          number an uppercase letter and a lowercase letter.</p>
      </div>

    </form>
  </div>
</div>