<div class="row">
  <div class="col-5">
    <h1>{{user.first}} {{user.last}}</h1> <br>
    <h2>Completed: {{user.ctasks}}</h2>
  </div>

  <div class="col-7">

    <div class="row">
      <div class="col">
        <h1>Upcoming</h1>
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Cancel</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let favor of favors | async">
              <tr *ngIf="!favor.complete">
                <th scope="row">x</th>
                <td>{{favor.name}}</td>
                <td>{{favor.type}}</td>
                <td>{{favor.time}}</td>
                <td>{{favor.date}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h1>Completed</h1>
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Time</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let favor of favors | async">
              <tr *ngIf="favor.complete">
                <th scope="row">{{favor.name}}</th>
                <td>{{favor.type}}</td>
                <td>{{favor.time}}</td>
                <td>{{favor.date}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>