.red-x{
   color: red;
}

.x-align{
   text-align: center;
}

img{
   height: 300px;
   width: auto;
}

.name{
   margin-top: 25px;
   font-size: 40px;
}

.credits{
   font-size: 35px;
}

.top-content{
   margin-top: 40px;
}

.fau-blue{
   color: white;
   background-color: #003066;
}

.fau-red{
   color: white;
   background-color: #CD0000;
}

a:hover{
   cursor: pointer;
}

.bottom-table{
   margin-top: 20px;
}

.sub-title{
   font-size: 40px;
   margin-bottom: 10px;
}