.task-info{
   background-color: #EDEEEF;
   padding: 25px;
}

.view-title{
   margin-bottom: 15px;
   font-size: 35px;
}

.sub-title{
   font-size: 30px;
}

.dub-title{
   font-size: 30px;
}

.bottom-butt{
   margin-top: 10px;
}