<div *ngIf="favor" class="rounded task-info">
  <div class="row">
    <div class="col">
      <h2 class="title display-4 view-title">Task Details</h2>
    </div>
  </div>

  <div class="row">
    <div class="col content-margin">
      <h3 class="display-4 sub-title">Name: {{favor.name}}</h3>
      <h4 class="display-4 dub-title">Type: {{favor.type}}</h4>
      <h4 class="display-4 dub-title">Date: {{favor.date}}</h4>
      <h4 class="display-4 dub-title">Time: {{favor.time}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col content-margin">
      <button class="btn btn-success btn-lg btn-block bottom-butt" (click)="addFavor(favor)">Accept</button>
    </div>
  </div>

</div>